$blue: rgb(0, 0, 143);
$lightBlue: rgb(51, 167, 255);
$yellow: rgb(252, 212, 0);
$block-indent: 10px;
$col-width: 300px;
$icon-size: 20px;

* {
  box-sizing: border-box;
  //-webkit-transition: all 1s;
}


body {
  @extend .reset;
  background:{
    image: -webkit-linear-gradient($blue 0%, $lightBlue 100%);
    attachment: fixed;
  }
}

#app {
  display: block;
  color: white;
  font-family: sans-serif;
  height: 100%;
  
  
  
  fieldset {
    @extend .reset;
    margin:{
      top: 20px;
    }
    legend{
      padding: 5px;
      padding-left: $block-indent;
    }
  }
  h1 {
    background: black;
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }
  
  .options {
    @extend .reset;
    li {
      list-style: none;
      background: transparentize(lighten(blue, 50), .75);
      padding: 5px;
      padding-left: $block-indent;
      margin-bottom: 5px;
      &.selected {
        background: transparentize(lighten(blue, 100), .5);
        .icon{
          &:before{
            content: "x";
          }
        }
      }
      .icon{
        position: absolute;
        right: 5px;
        top: 0px;
        
        &:before{
          content: "+";
        }
      }
      .label{
        
      }
      .value{
        position: absolute;
        right: 5px;
        top: 0px;
      }
    }
    &:not(.expanded) {
      li:not(.selected) {
        @extend .reset;
        height: 0px;
        overflow: hidden;
      }
    }
  }
  .values {
    @extend .reset;
    &:not(.expanded) {
      li:not(.selected) {
        @extend .reset;
        height: 0px;
        overflow: hidden;
      }
    }
  }
  .expander{
    padding: 5px;
    padding-left: $block-indent;
    background:{
      color: transparentize(lighten(blue, 60), .8);
    }
    color: $lightBlue;
  }
  
  #results{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px;
    &.highlighted{
      text-align: right;
    }
  }
  
  /* Extensible/General Classes ***********************************************/
  .reset {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
  }
  .hidden {
    display: none;
  }
  .icon{
    display: inline-block;
    border-radius: $icon-size/2;
    width: $icon-size;
    height: $icon-size;
    text-align: center;
    background: transparentize(white, .5);
    color: $blue;
  }
  .highlighted{
    background:{
      color: $yellow;
    }
    color: $blue;
    .icon{
      background: $blue;
      color: $yellow;
    }
  }
}

@media screen and (min-width: 500px) {
  #app {
    form, .options.expanded, .values.expanded{
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      height: 100%;
      width: $col-width;
    }
    h1 {
      background: rgba(100,100,255,0.75)
    }
    .options.expanded {
      position: absolute;
      top: 0px;
      left: $col-width + 5px;
      width: ($col-width + 5px) *2;
      li{
        width: $col-width;
      }
    }
    .values.expanded{
      position: absolute;
      top: 0px;
      left: $col-width + 5px;
      width: $col-width;
    }
  }
}